/ITMO.MATAN/FirstSection/
/ITMO.LINAL/FirstSection/
/ITMO.LINAL/SecondSection/
/ITMO.CS/
/ITMO.PROGRAMMING/FirstLab/
/ITMO.PROGRAMMING/SecondLab/
/ITMO.PROGRAMMING/ThirdLab/
/ITMO.PROGRAMMING/.idea/
/.idea/
.env
