[submodule "web_programming/1_FirstLab"]
	path = web_programming/1_FirstLab
	url = https://github.com/AstroSoup/web-lab-1.git
[submodule "web_programming/2_SecondLab"]
	path = web_programming/2_SecondLab
	url = https://github.com/AstroSoup/web-lab-2.git
[submodule "web_programming/3_ThirdLab"]
	path = web_programming/3_ThirdLab
	url = git@github.com:AstroSoup/web-lab-3.git
[submodule "web_programming/4_FourthLab"]
	path = web_programming/4_FourthLab
	url = https://github.com/AstroSoup/web-lab-4.git
